<%- include ./partials/header %>

    <div class="container">
        <div class="jumbotron">
            <h1>SaveLinks App</h1>
            <p class="lead">
                Simple app that saves links. Built with Node.js and Express. User authentication done with Passport and data stored in PostgreSQL database.
            </p>
            <a class="btn btn-primary" href="//github.com/josephmvu/savelinks">GitHub</a>
        </div>
    </div>
    
<%- include ./partials/footer %>