<%- include ./partials/header %>

    <div class="container">
        <div class="jumbotron">
            <h1>SaveLinks App</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, doloribus, quis, quod natus vero dolor odio necessitatibus aut esse repellat quae blanditiis deserunt dolorum nam sapiente. Accusamus tempora reprehenderit maiores!</p>
            <a class="btn btn-primary">Learn More</a>
        </div>
    </div>
    
<%- include ./partials/footer %>