<%- include ../partials/header %>

    <div class="container">
        <div class="jumbotron">
            <h1>Dashboard</h1>
            <p>If you can see this page then you are logged in!</p>
        </div>
        
        <form action="/dashboard/links" method="POST">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" placeholder="title" required>
            </div>
            <div class="form-group">
                <label>URL</label>
                <input type="url" class="form-control" name="url" placeholder="https:// - paste URL here" required>
            </div>
            <div class="form-group">
                <label>List</label>
                <input type="text" class="form-control" name="list" placeholder="List">
            </div>
            <button type="submit" class="btn btn-primary">Add Link</button>
        </form>
    </div>
    
<%- include ../partials/footer %>